

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gamecheb_web
    command: python run_bot.py
    restart: always
    env_file:
      - .env
    volumes:
      - .:/app
    expose:
      - "8000"
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: questbot_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
  nginx:
    image: nginx:stable
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - web

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'sleep 5 && certbot certonly --webroot --webroot-path=/var/www/certbot --email zds.vip1221@gmail.com --agree-tos --no-eff-email -d gamecheb.tech'"

volumes:
  postgres_data:
