version: '3.9'

services:
  web:
    build: .
    container_name: gamecheb_web
    command: python run_bot.py
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db
      -
  backend:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    container_name: gamecheb_backend

  db:
    image: postgres:15
    container_name: questbot_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
  nginx:
    image: nginx:stable
    container_name: nginx
    volumes:
      - ./nginx/conf.d.d:/etc/nginx/conf.d.d
      - ./certbot/conf.d:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web

  certbot:
    image: certbot/certbot
    volumes:
        - ./certbot/conf.d:/etc/letsencrypt
        - ./certbot/www:/var/www/certbot



volumes:
  postgres_data:
